.breadcrumb {

  font-size: 1.2rem;
  font-weight: 500;
  color: var(--black-1a);
  margin-bottom: 1rem;

  a {
    color: inherit;
    transition: color 0.2s;

    &:hover {
      color: #0039aa;

      @include breakpoint($xl-bp) {
        color: inherit;
      }
    }
  }

  span {
    color: var(--grey);
  }


  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}