.modal-el {
  width: 100%;
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid #a5a5a52c;

  &.favorite .btn-like {
    svg {
      fill: #6115db;
    }
  }

  .flag--red {
    position: absolute;
    top: 2rem;
    left: 2rem;

    @include breakpoint($xl-bp) {
      top: 1.5rem;
      left: 1.5rem;
    }

    @include breakpoint($sm-bp) {}

  }

  &__head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  &__img {
    width: 6rem;
    height: 6rem;
    overflow: hidden;
    border-radius: 1rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__title {
    display: block;
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
    color: var(--black);

    transition: color 0.2s;

    &:hover {
      color: #0039aa;
      ;

      @include breakpoint($xl-bp) {
        color: var(--black);
      }
    }

  }

  &__choice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.45rem;

  }

  &__characteristics {}

  &__characteristics-btn {

    font-size: 1.2rem;
    font-weight: 500;
    color: var(--grey);
    display: flex;
    align-items: center;
    gap: 0.9rem;



    svg {
      width: 0.8rem;
      height: 0.8rem;
    }
  }

  &__model {
    display: flex;
    align-items: center;
    gap: 1rem;

  }

  &__model-btn {
    width: 1.7rem;
    height: 1.7rem;
    overflow: hidden;
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__res {
    display: flex;
    align-items: center;
    gap: 3rem;


    font-size: 1.8rem;
    font-weight: 500;

    color: var(--black);

    p+p {
      color: var(--grey);
      text-decoration: line-through;
    }

  }
}




.search-res {




  display: none;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  border-radius: 2rem;
  padding: 4rem;

  @include breakpoint($xl-bp) {
    padding: 3rem;
  }

  @include breakpoint($sm-bp) {
    padding: 2rem;
  }

  &.active {
    display: block;
  }


  &__wrap {
    width: 100%;
    display: flex;
    height: min-content;
    max-height: 38rem;
    flex-direction: column;
    gap: 4rem;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0.3rem;
      height: 0.3rem;
      background-color: transparent;
    }


    &::-webkit-scrollbar-thumb {
      background-color: #000000;
      border-radius: 0.5rem;

    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #3f3f3f;
    }

  }

  &__el {
    display: flex;
    gap: 2rem;
    color: var(--black);



  }

  &__el-img {
    width: 6.4rem;
    height: 6.4rem;
    overflow: hidden;
    border-radius: 1rem;
    flex: none;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__el-desc {
    width: 22rem;

    @include breakpoint($sm-bp) {
      width: 100%;
    }




  }

  &__el-title {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  &__el-characteristics {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;


    p {
      font-size: 1.2rem;
      font-weight: 500;

      color: var(--black);

      & span:first-child {
        color: var(--grey);
      }
    }

  }

  &__el-price {

    font-size: 1.8rem;
    font-weight: 500;

    flex: none;

  }
}



.product {
  background-color: #fff;
  border-radius: 2rem;
  width: 32.8rem;
  position: relative;


  .flag--red {
    position: absolute;
    top: 2rem;
    left: 2rem;

    @include breakpoint($xl-bp) {
      top: 1.5rem;
      left: 1.5rem;
    }

    @include breakpoint($sm-bp) {}

  }

  .flag--blue {
    position: absolute;
    top: 2rem;
    left: 2rem;

    @include breakpoint($xl-bp) {
      top: 1.5rem;
      left: 1.5rem;
    }

    @include breakpoint($sm-bp) {}

  }

  @include breakpoint($xl-bp) {
    width: 22rem;
    border-radius: 1.5rem;
  }

  @include breakpoint($sm-bp) {
    width: 19.5rem;
  }

  &.favorite .btn-like {
    svg {
      fill: #6115db;

    }
  }

  &__img {
    width: 100%;
    height: 30.8rem;
    border-radius: 2rem 2rem 0 0;
    overflow: hidden;

    @include breakpoint($xl-bp) {
      height: 20.6rem;
      border-radius: 1.5rem 1.5rem 0 0;
    }

    @include breakpoint($sm-bp) {
      height: 18.4rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__wrap {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding: 2rem;
    margin-bottom: 2.1rem;

    @include breakpoint($xl-bp) {
      padding: 1.5rem;
      margin-bottom: 1.2rem;
    }

    @include breakpoint($sm-bp) {}
  }

  &__desc {
    width: 22.8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: none;

    @include breakpoint($xl-bp) {
      width: 14rem;
    }

    @include breakpoint($sm-bp) {
      width: 11.5rem;
    }
  }

  &__title {

    font-size: 1.8rem;
    font-weight: 500;

    color: var(--black);
    display: block;
    min-height: 4.2rem;

    &:hover {
      color: #0039aa;

      @include breakpoint($xl-bp) {
        color: var(--black);
      }

    }

    @include breakpoint($xl-bp) {
      // display: flex;


      font-size: 1.4rem;
      // width: 14rem;



      p {
        display: inline;
      }
    }

    @include breakpoint($sm-bp) {}

  }

  &__price {

    font-size: 1.8rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 2.5rem;

    p {
      font-family: "HelveticaNeueCyr", sans-serif;
    }

    @include breakpoint($xl-bp) {
      justify-content: space-between;
    }

    @include breakpoint($sm-bp) {}


  }

  &__price-new {
    color: var(--black);
    flex: none;

    @include breakpoint($xl-bp) {


      font-size: 1.4rem;


    }

    @include breakpoint($sm-bp) {
      font-size: 1.6rem;
    }
  }

  &__price-old {
    font-size: 1.6rem;
    color: var(--grey);
    text-decoration: line-through;
    flex: none;

    @include breakpoint($xl-bp) {

      font-size: 1.2rem;


    }

    @include breakpoint($sm-bp) {
      font-size: 1.6rem;
    }
  }

  &__characteristics {
    position: relative;
    min-width: 15rem;
    white-space: nowrap;
  }

  &__characteristics-btn {

    font-size: 1.4rem;
    font-weight: 500;
    color: var(--grey);

    display: flex;
    gap: 0.5rem;
    align-items: center;
    cursor: pointer;

    @include breakpoint($xl-bp) {

      font-size: 1.2rem;
      font-weight: 500;

    }

    @include breakpoint($sm-bp) {}

    svg {
      width: 1.6rem;
      height: 1.6rem;
      stroke: var(--grey);
      transition: transform 0.2s;
      flex: none;
    }

  }

  &__characteristics.active &__characteristics-btn {
    svg {
      transform: rotate(180deg);
    }
  }

  &__characteristics-panel {
    position: absolute;
    top: calc(100%);
    z-index: 7;
    left: -1.1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;

    @include breakpoint($xl-bp) {}

    @include breakpoint($sm-bp) {}

    ul {
      background-color: #fff;
      border-radius: 1rem;
      box-shadow: 0px 0px 2rem 0px #0000001A;

      padding: 1.5rem 2rem;
      display: flex;
      flex-direction: column;
      gap: .5rem;
      margin: 1.1rem;

      @include breakpoint($xl-bp) {
        padding: 1.5rem;
      }

      @include breakpoint($sm-bp) {}

      li {
        font-size: 1.4rem;
        font-weight: 500;
        color: var(--black);
        padding: 0.5rem;
        border-radius: 1rem;

        &:hover {
          background: #E6E6E6;
        }

        @include breakpoint($xl-bp) {
          font-size: 1.2rem;
        }

        @include breakpoint($sm-bp) {}




        button {
          color: var(--black);
        }

      }


    }
  }

  &__model {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-content: flex-start;

    @include breakpoint($xl-bp) {}

    @include breakpoint($sm-bp) {}
  }

  &__model-img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;

    @include breakpoint($xl-bp) {
      width: 1.5rem;
      height: 1.5rem;
    }

    @include breakpoint($sm-bp) {}

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__btns {
    padding: 0 2rem 2rem 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;

    @include breakpoint($xl-bp) {
      padding: 0 1.5rem 1.5rem 1.5rem;
    }

    @include breakpoint($sm-bp) {}
  }

  .btn-black {
    padding: 1.2rem 2rem;

    @include breakpoint($xl-bp) {
      height: 4rem;
    }

    @include breakpoint($sm-bp) {}
  }

  .btn-like {}
}

@include breakpoint($xl-bp) {}

@include breakpoint($sm-bp) {}

.category-product {
  width: 32.8rem;

  @include breakpoint($xl-bp) {
    width: 22rem;
  }

  @include breakpoint($sm-bp) {
    width: 19.5rem;
  }

  &__img {
    width: 100%;
    height: 20.6rem;
    overflow: hidden;
    border-radius: 2rem;
    margin-bottom: 1.5rem;

    @include breakpoint($xl-bp) {
      height: 18.3rem;
    }

    @include breakpoint($sm-bp) {
      height: 12.2rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {

    font-size: 1.8rem;
    font-weight: 500;
    color: var(--black);
    transition: color 0.2s;

    &:hover {
      color: #0039aa;


      @include breakpoint($xl-bp) {
        color: var(--black);
      }
    }

    @include breakpoint($xl-bp) {

      font-size: 1.4rem;


    }

    @include breakpoint($sm-bp) {}
  }
}




.news {

  .news--mask {

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: hwb(0 0% 100% / 0.20);
      z-index: -1;

      @include breakpoint($xl-bp) {}

      @include breakpoint($sm-bp) {}
    }
  }

  &__el-title {

    font-size: 2rem;
    font-weight: 500;

    color: var(--white);

    @include breakpoint($xl-bp) {
      font-size: 1.8rem;
    }

    @include breakpoint($sm-bp) {
      font-size: 1.4rem;
    }

  }

  &__el {
    width: 44rem;
    height: 31.5rem;

    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    z-index: 1;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    align-items: flex-start;

    @include breakpoint($xl-bp) {
      width: 33.5rem;
      height: 24rem;
      padding: 2rem;
    }

    @include breakpoint($sm-bp) {
      padding: 1.5rem;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -2;

      @include breakpoint($xl-bp) {}

      @include breakpoint($sm-bp) {}

    }
  }


  &__el-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    @include breakpoint($xl-bp) {}

    @include breakpoint($sm-bp) {}


  }

  .flag--red {}

  .flag--blue {}

  .flag--yellow {}
}

@include breakpoint($xl-bp) {}

@include breakpoint($sm-bp) {}