<footer class="footer">
  <div class="footer__top container">
    <div class="footer__logo">
      <img src="assets/images/logo/logo.png" alt="#">
    </div>

    <button class="btn-up">
      <svg>
        <use xlink:href="assets/images/sprite/sprite-icons.svg#iconArrow"></use>
      </svg>
    </button>
  </div>

  <div class="footer__wrap container">
    <div class="footer__content">

      <nav class="footer__nav">
        <div class="footer__nav-el">

          <a href="#" class="footer__nav-el-title">Кухни</a>

          <ul>
            <li><a href="#">Кухни прямые</a></li>
            <li><a href="#">Кухни угловые</a></li>
            <li><a href="#">Кухни эконом</a></li>
            <li><a href="#">Кухонные уголки</a></li>
          </ul>

        </div>

        <div class="footer__nav-el">

          <a href="#" class="footer__nav-el-title">Спальни</a>

          <ul>
            <li><a href="#">Кровати</a></li>
            <li><a href="#">Матрасы</a></li>
            <li><a href="#">Модульные спальни</a></li>
          </ul>

        </div>


        <div class="footer__nav-el">

          <a href="#" class="footer__nav-el-title">Гостиные</a>

          <ul>
            <li><a href="#">Мини стенки</a></li>
            <li><a href="#">Модульные гостиные</a></li>
            <li><a href="#">Стенки в гостиную</a></li>
          </ul>

        </div>


        <div class="footer__nav-el">

          <a href="#" class="footer__nav-el-title">Компания</a>

          <ul>
            <li><a href="#">О компании</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Новости</a></li>
            <li><a href="#">Реквизиты</a></li>
          </ul>

        </div>

        <div class="footer__nav-el">

          <a href="#" class="footer__nav-el-title">Корпусная мебель</a>

          <ul>
            <li><a href="#">Комоды</a></li>
            <li><a href="#">Полки</a></li>
            <li><a href="#">Прохожие</a></li>
            <li><a href="#">Серия мебели “Дуэт”</a></li>
            <li><a href="#">Стеллажи</a></li>
            <li><a href="#">Тумбы</a></li>
            <li><a href="#">Шкафы</a></li>
            <li><a href="#">Шкафы-купе</a></li>
          </ul>

        </div>

        <div class="footer__nav-el">

          <a href="#" class="footer__nav-el-title">Мягкая мебель</a>

          <ul>
            <li><a href="#">Прямая</a></li>
            <li><a href="#">Угловые</a></li>
            <li><a href="#">Кресла</a></li>
            <li><a href="#">Детские диваны</a></li>
          </ul>

        </div>

        <div class="footer__nav-el">

          <a href="#" class="footer__nav-el-title">Столы</a>

          <ul>
            <li><a href="#">Журнальные</a></li>
            <li><a href="#">Обеденные</a></li>
            <li><a href="#">Письменные</a></li>
            <li><a href="#">С фотопечатью</a></li>
            <li><a href="#">Столы компьютерные</a></li>
            <li><a href="#">Туалетные</a></li>
          </ul>

        </div>

        <div class="footer__nav-el">

          <a href="#" class="footer__nav-el-title">Покупателям</a>

          <ul>
            <li><a href="#">Оплата</a></li>
            <li><a href="#">Возврат и обмен</a></li>
            <li><a href="#">Доставка</a></li>
            <li><a href="#">Гарантии</a></li>
          </ul>

        </div>

        <div class="footer__nav-el">
          <a href="#" class="footer__nav-el-title">Детские кровати</a>
        </div>

      </nav>



    </div>

    <div class="footer__contacts">


      <div class="footer__contact-wrap">
        <div class="footer__contact">
          <p class="footer__contacts-title">Телефон:</p>
          <a href="tel:84994557308">8 499 455 73 08</a>
          <p class="footer__contact-desc">Звонок по России бесплатный</p>
        </div>

        <div class="footer__contact">
          <p class="footer__contacts-title">Телефон:</p>
          <a href="tel:84994557308">+7 961 446-83-80</a>
        </div>

        <div class="footer__contact">
          <p class="footer__contacts-title">Электронная почта:</p>
          <a href="#">shop@novgodent.ru</a>
        </div>
      </div>



      <div class="footer__address-wrap">

        <div class="footer__address">
          <p class="footer__contacts-title">Адрес:</p>
          <p class="footer__address-place">155800, Ивановская область, г. Кинешма,
            ул. Ломоносова, д. 21/10, кв. 7</p>

          <p class="footer__address-time">Режим работы интернет-магазина:
            с 02:00 до 23:00 (МСК)</p>
          <p class="footer__address-time"> Режим работы: ежедн. 10:00-22:00</p>

        </div>


        <div class="footer__network">
          <p class="footer__contacts-title">Социальные сети:</p>

          <div class="footer__network-wrap">
            <a href="#" class="footer__network-el ">
              <svg class="vk--color">
                <use xlink:href="assets/images/sprite/sprite-icons.svg#iconVK"></use>
              </svg>

            </a>

            <a href="#" class="footer__network-el ">
              <svg class="tg--color">
                <use xlink:href="assets/images/sprite/sprite-icons.svg#iconTG2"></use>
              </svg>

            </a>

            <a href="#" class="footer__network-el ">
              <svg class="yt--color">
                <use xlink:href="assets/images/sprite/sprite-icons.svg#iconYT"></use>
              </svg>

            </a>

            <a href="#" class="footer__network-el ">
              <svg class="wa---color">
                <use xlink:href="assets/images/sprite/sprite-icons.svg#iconWA"></use>
              </svg>

            </a>

          </div>

        </div>

      </div>

      <button class="btn-black" onclick="showModal('modalCall')">Заказать звонок</button>

    </div>
  </div>

  <div class="offer container">
    <p class="offer__title">Узнавайте первыми о наших скидках и предложениях</p>

    <form action="#" class="offer__form">

      <input type="email" class="offer__form-i" placeholder="Электронная почта">
      <input class="btn offer__form-submit" type="submit" value="Подписаться">

    </form>
  </div>

  <div class="footer-sms__dropdown container dropdown">
    <button class="footer-sms__dropdown-btn dropdown-btn">
      <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M9.96956 0.136128C10.0957 0.0830401 10.2337 0.0647304 10.3694 0.0831045C10.505 0.101479 10.6332 0.155865 10.7406 0.240603C10.8481 0.325341 10.9309 0.437332 10.9804 0.56492C11.0299 0.692509 11.0442 0.83103 11.022 0.966066L9.86441 7.98787C9.75212 8.66519 9.00895 9.05362 8.38778 8.71623C7.86817 8.43397 7.09642 7.9991 6.40226 7.54534C6.05517 7.3182 4.99197 6.59086 5.12264 6.0733C5.23493 5.63076 7.02139 3.96783 8.04222 2.97915C8.4429 2.59072 8.26017 2.36665 7.78702 2.72394C6.61204 3.61104 4.72554 4.96008 4.10181 5.33983C3.55158 5.67466 3.26472 5.73183 2.92172 5.67466C2.29595 5.57053 1.71561 5.40924 1.24194 5.21273C0.60188 4.94732 0.633016 4.06736 1.24143 3.81113L9.96956 0.136128Z"
          fill="url(#paint0_linear_576_3385)" />
        <defs>
          <linearGradient id="paint0_linear_576_3385" x1="11.0322" y1="1.47042" x2="-8.85453" y2="5.81519"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#0057FF" />
            <stop offset="0.254661" stop-color="#5200FF" />
            <stop offset="1" stop-color="#DB00FF" />
          </linearGradient>
        </defs>
      </svg>

      <span>Написать нам</span>
    </button>

    <div class="footer-sms__dropdown-panel dropdown-panel">

      <ul>
        <li>
          <a href="#">
            <svg>
              <use xlink:href="assets/images/sprite/sprite-icons.svg#iconTG"></use>
            </svg>
            <span>Telegram</span>

          </a>
        </li>
        <li>
          <a href="#">

            <svg>
              <use xlink:href="assets/images/sprite/sprite-icons.svg#iconWhatsApp"></use>
            </svg>
            <span>WhatsApp</span>

          </a>
        </li>
        <li>
          <a href="#">
            <svg>
              <use xlink:href="assets/images/sprite/sprite-icons.svg#iconEmail"></use>
            </svg>
            <span>Email</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer__bottom container">
    <p class="footer__copyright">Copyright © 2002 Производственная торговая компания "Трио-Мебель"</p>
    <a href="#" class="footer__polite">Политика конфедициальности</a>
    <a href="#" class="footer__dev">Cайт разработали NDA</a>
  </div>




</footer>