<div id="modalLike" class="modal-wrapper">
  <div class="modal">
    <button class="modal__close" onclick="closeModal()">
      <svg>
        <use xlink:href="assets/images/sprite/sprite-icons.svg#iconClose"></use>
      </svg>
      <span>закрыть</span>
    </button>
    <p class="modal__title">Избранные товары</p>

    <div class="modal__content">

      <div class="modal-el " id="product_1m">

        <div class="modal-el__head">
          <div class="modal-el__img">
            <img src="assets/images/kitchen.jpg" alt="#">
          </div>

          <button class="btn-like" onclick="addToFavorites('1m')">
            <svg>
              <use xlink:href="assets/images/sprite/sprite-icons.svg#iconLike"></use>
            </svg>
          </button>
        </div>

        <a href="#" class="modal-el__title">
          <p>Двух спальная кровать</p>
          <p>Бланка</p>
        </a>

        <div class="modal-el__choice">
          <div class="product__characteristics dropdown">
            <div class="product__characteristics-btn dropdown-btn">
              <p>Ш1250 х Г2030 х В850 </p>
              <svg>
                <use xlink:href="assets/images/sprite/sprite-icons.svg#iconArrow"></use>
              </svg>
            </div>

            <div class="product__characteristics-panel dropdown-panel">
              <ul>
                <li><button>Ш1050 х Г1030 х В250 </button></li>
                <li><button>Ш1950 х Г3230 х В1050 </button></li>
                <li><button>Ш2250 х Г5030 х В9050 </button></li>
              </ul>
            </div>

          </div>
          <div class="modal-el__model">
            <button class="modal-el__model-btn">
              <img src="assets/images/model/model-1.png" alt="#">
            </button>

            <button class="modal-el__model-btn">
              <img src="assets/images/model/model-2.png" alt="#">
            </button>

          </div>

        </div>

        <div class="modal-el__res">
          <p>8 800 ₽</p>
          <p>15 200 ₽</p>

        </div>


      </div>

      <div class="modal-el" id="product_2m">

        <div class="modal-el__head">
          <div class="modal-el__img">
            <img src="assets/images/kitchen.jpg" alt="#">
          </div>

          <button class="btn-like" onclick="addToFavorites('2m')">
            <svg>
              <use xlink:href="assets/images/sprite/sprite-icons.svg#iconLike"></use>
            </svg>
          </button>
        </div>

        <a href="#" class="modal-el__title">
          <p>Двух спальная кровать</p>
          <p>Бланка</p>
        </a>

        <div class="modal-el__choice">
          <div class="product__characteristics dropdown">
            <div class="product__characteristics-btn dropdown-btn">
              <p>Ш1250 х Г2030 х В850 </p>
              <svg>
                <use xlink:href="assets/images/sprite/sprite-icons.svg#iconArrow"></use>
              </svg>
            </div>

            <div class="product__characteristics-panel dropdown-panel">
              <ul>
                <li><button>Ш1050 х Г1030 х В250 </button></li>
                <li><button>Ш1950 х Г3230 х В1050 </button></li>
                <li><button>Ш2250 х Г5030 х В9050 </button></li>
              </ul>
            </div>

          </div>
          <div class="modal-el__model">
            <button class="modal-el__model-btn">
              <img src="assets/images/model/model-1.png" alt="#">
            </button>

            <button class="modal-el__model-btn">
              <img src="assets/images/model/model-2.png" alt="#">
            </button>

          </div>

        </div>

        <div class="modal-el__res">
          <p>8 800 ₽</p>
          <p>15 200 ₽</p>

        </div>


      </div>




    </div>

    <a href="#" class="btn-black">Перейти к оформлению товаров</a>


  </div>
</div>



<div id="modalCatalog" class="modal-wrapper">
  <div class="modal">
    <button class="modal__close" onclick="closeModal()">
      <svg>
        <use xlink:href="assets/images/sprite/sprite-icons.svg#iconClose"></use>
      </svg>
    </button>

    <div class="modal-catalog__content">

      <div class="modal-catalog__el">
        <a href="#">Кухни</a>

        <ul>
          <li><a href="#">Кухни прямые</a></li>
          <li><a href="#">Кухни угловые</a></li>
          <li><a href="#">Кухни эконом</a></li>
          <li><a href="#">Кухни эконом</a></li>
          <li><a href="#">Кухонные уголки</a></li>
        </ul>

      </div>

      <div class="modal-catalog__el">
        <a href="#">Корпусная мебель</a>

        <ul>
          <li><a href="#">Комоды</a></li>
          <li><a href="#">Полки</a></li>
          <li><a href="#">Прихожие</a></li>
          <li><a href="#">Серия мебели Дуэт</a></li>
          <li><a href="#">Стеллажи</a></li>
          <li><a href="#">Тумбы</a></li>
          <li><a href="#">Шкафы</a></li>
          <li><a href="#">Шкафы-купе</a></li>
        </ul>

      </div>

      <div class="modal-catalog__el">
        <a href="#">Спальни</a>

        <ul>
          <li><a href="#">Кровати</a></li>
          <li><a href="#">Матрасы</a></li>
          <li><a href="#">Модульные спальни</a></li>
        </ul>

      </div>


      <div class="modal-catalog__el">
        <a href="#">Мягкая мебель</a>

        <ul>
          <li><a href="#">Прямые</a></li>
          <li><a href="#">Угловые</a></li>
          <li><a href="#">Кресла</a></li>
          <li><a href="#">Детские диваны</a></li>
        </ul>

      </div>

      <div class="modal-catalog__el">
        <a href="#">Столы</a>

        <ul>
          <li><a href="#">Кухни прямые</a></li>
          <li><a href="#">Кухни угловые</a></li>
          <li><a href="#">Кухни эконом</a></li>
          <li><a href="#">Кухонные уголки</a></li>
        </ul>

      </div>


      <div class="modal-catalog__el">
        <a href="#">Гостиные</a>

        <ul>
          <li><a href="#">Кухни прямые</a></li>
          <li><a href="#">Кухни угловые</a></li>
          <li><a href="#">Кухни эконом</a></li>
          <li><a href="#">Кухонные уголки</a></li>
        </ul>

      </div>

      <div class="modal-catalog__el">
        <a href="#">Детские</a>
      </div>



    </div>







  </div>
</div>


<div id="modalSearch" class="modal-wrapper">
  <div class="modal">

    <form class="form-search" action="">
      <input class="form-search__i" id="modalSearchInput" type="text"
        placeholder="Напишите какой товар вы хотите найти">

      <button class="form-search__close-text" onclick="clearText('modalSearchInput')">
        <div></div>
        <div></div>
      </button>
      <button class="btn-black" type="submit">Найти</button>

      <button class="modal__close" onclick="closeModal()">
        <svg>
          <use xlink:href="assets/images/sprite/sprite-icons.svg#iconClose"></use>
        </svg>
      </button>
    </form>

    <!-- появляется при вводе текста > 3 символов. добавляяется класс active-->
    <div class="search-res">

      <div class="search-res__wrap">
        <a class="search-res__el" href="#">

          <div class="search-res__el-img">
            <img src="assets/images/kitchen.jpg" alt="#">
          </div>

          <div class="search-res__el-desc">
            <p class="search-res__el-title">Кухня Барселона</p>

            <div class="search-res__el-characteristics">
              <p> <span>Цвет: </span> <span> Серый / Матера</span></p>
              <p><span>Размер: </span> <span>1,5 метра</span></p>
            </div>
          </div>

          <p class="search-res__el-price">16 800 ₽</p>

        </a>

        <a class="search-res__el" href="#">

          <div class="search-res__el-img">
            <img src="assets/images/kitchen.jpg" alt="#">
          </div>

          <div class="search-res__el-desc">
            <p class="search-res__el-title">Кухня Барселона</p>

            <div class="search-res__el-characteristics">
              <p> <span>Цвет: </span> <span> Серый / Матера</span></p>
              <p><span>Размер: </span> <span>1,5 метра</span></p>
            </div>
          </div>

          <p class="search-res__el-price">16 800 ₽</p>

        </a>

        <a class="search-res__el" href="#">

          <div class="search-res__el-img">
            <img src="assets/images/kitchen.jpg" alt="#">
          </div>

          <div class="search-res__el-desc">
            <p class="search-res__el-title">Кухня Барселона</p>

            <div class="search-res__el-characteristics">
              <p> <span>Цвет: </span> <span> Серый / Матера</span></p>
              <p><span>Размер: </span> <span>1,5 метра</span></p>
            </div>
          </div>

          <p class="search-res__el-price">16 800 ₽</p>

        </a>

        <a class="search-res__el" href="#">

          <div class="search-res__el-img">
            <img src="assets/images/kitchen.jpg" alt="#">
          </div>

          <div class="search-res__el-desc">
            <p class="search-res__el-title">Кухня Барселона</p>

            <div class="search-res__el-characteristics">
              <p> <span>Цвет: </span> <span> Серый / Матера</span></p>
              <p><span>Размер: </span> <span>1,5 метра</span></p>
            </div>
          </div>

          <p class="search-res__el-price">16 800 ₽</p>

        </a>


      </div>








    </div>






  </div>
</div>


<div id="modalSelectionCity" class="modal-wrapper">
  <div class="modal">

    <button class="modal__close" onclick="closeModal()">
      <svg>
        <use xlink:href="assets/images/sprite/sprite-icons.svg#iconClose"></use>
      </svg>
    </button>

    <p class="modal-title">Выберите ваш город</p>

    <form action="#" class="city-form">

      <label class="city-form__label" for="cityFormInput">Город</label>
      <input id="cityFormInput" class="city-form__i" type="text" placeholder="Введите название города">

      <button class="city-form__close-text" onclick="clearText('cityFormInput')">
        <svg>
          <use xlink:href="assets/images/sprite/sprite-icons.svg#iconClose"></use>
        </svg>
      </button>

    </form>

    <!-- появляется при вводе текста > 3 символов. добавляяется класс active-->
    <div class="selection-city-res">
      <ul>
        <li><a href="#">Иваново <span>Ивановская область, Россия</span> </a></li>
        <li><a href="#">Иваново <span>Ивановская область, Россия</span> </a></li>
        <li><a href="#">Иваново <span>Ивановская область, Россия</span> </a></li>
        <li><a href="#">Иваново <span>Ивановская область, Россия</span> </a></li>
        <li><a href="#">Иваново <span>Ивановская область, Россия</span> </a></li>
        <li><a href="#">Иваново <span>Ивановская область, Россия</span> </a></li>
        <li><a href="#">Иваново <span>Ивановская область, Россия</span> </a></li>
      </ul>

    </div>











  </div>
</div>

<div id="modalThank" class="modal-wrapper">
  <div class="modal">

    <button class="modal__close" onclick="closeModal()">
      <svg>
        <use xlink:href="assets/images/sprite/sprite-icons.svg#iconClose"></use>
      </svg>
    </button>

    <div class="modal-thank-wrap">
      <p class="modal-title">Ваши данные
        успешно отправлены!</p>

      <p class="modal-thank-text">В ближайшее время наш менеджер
        свяжется с вами!</p>

    </div>



    <button class="btn-black" onclick="closeModal()">Вернуться назад</button>













  </div>
</div>




<div id="modalComment" class="modal-wrapper">
  <div class="modal">
    <button class="modal__close" onclick="closeModal()">
      <svg>
        <use xlink:href="assets/images/sprite/sprite-icons.svg#iconClose"></use>
      </svg>
    </button>
    <div class="comment"></div>


  </div>
</div>



<div id="modalCall" class="modal-wrapper">
  <div class="modal">
    <button class="modal__close" onclick="closeModal()">
      <svg>
        <use xlink:href="assets/images/sprite/sprite-icons.svg#iconClose"></use>
      </svg>
    </button>
    <p class="modal-title">Заказать звонок</p>


    <form action="#" class="form-call">


      <input class="form-call__i" type="text" placeholder="Имя">
      <input class="form-call__i" type="tel" placeholder="Номер телефона">
      <input class="form-call__i" type="email" placeholder="Email">

      <div class="form-call__bottom">
        <input class="form-call__submit btn-black" type="submit" onclick="showModal('modalThank')" value="Отправить">
        <p>Отправляя свои данные, вы
          соглашаетесь на обработку
          <a href="#">персональных данных</a>
        </p>
      </div>
    </form>


  </div>
</div>


<div id="modalShare" class="modal-wrapper">
  <div class="modal">
    <button class="modal__close" onclick="closeModal()">
      <svg>
        <use xlink:href="assets/images/sprite/sprite-icons.svg#iconClose"></use>
      </svg>
    </button>
    <p class="modal-title">Поделиться</p>
    <p class="share-title">Поделится в социальных сетях</p>

    <div class="share-network-wrap">
      <div class="share-network-wrap-vk">
        <svg class="vk--color">
          <use xlink:href="assets/images/sprite/sprite-icons.svg#iconVK"></use>
        </svg>
      </div>

      <div class="share-network-wrap-ok">
        <svg class="vk--color">
          <use xlink:href="assets/images/sprite/sprite-icons.svg#iconOK"></use>
        </svg>
      </div>
    </div>
    <p class="share-title">Скопировать ссылку</p>
    <div class="share-link-wrap">

      <label for="share-link" class="share-link-placeholder">Ссылка</label>
      <input id="share-link" class="share-link" type="text"
        value="https://triomebel.com/catalog/modulnye_spalni/kollektsiya_milana_spalnya/"
        data-link-orig="https://triomebel.com/catalog/modulnye_spalni/kollektsiya_milana_spalnya/">

      <button class="share-btn" onclick="share('share-link')">
        <span class="tooltiptext" id="myTooltip">Скопировать </span>
        <svg>
          <use xlink:href="assets/images/sprite/sprite-icons.svg#iconCopy"></use>
        </svg>

      </button>

    </div>





  </div>
</div>