.error-page {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.error {
  width: 50rem;
  margin-top: 21rem;

  p {

    font-size: 2.4rem;
    font-weight: 500;
    line-height: 2.8rem;
    margin-bottom: 4rem;
    text-align: center;


  }

  .btn {
    width: 26.2rem;
    margin: 0 auto;
  }
}

.error .search__form {
  width: 100%;
}