.order-completed-page {}



.order-completed {
  margin-bottom: 50rem;

  @include breakpoint($xl-bp) {
    margin-bottom: 33rem;
  }

  @include breakpoint($sm-bp) {
    margin-bottom: 43rem;
  }

  &__wrap {
    width: 100.3rem;
    padding: 3rem;
    background: #fff;
    border-radius: 2rem;

    @include breakpoint($xl-bp) {
      width: 100%;
    }

    @include breakpoint($sm-bp) {}
  }

  &__title {

    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 4rem;
    color: var(--black);

    @include breakpoint($xl-bp) {
      font-size: 2.4rem;
    }

    @include breakpoint($sm-bp) {
      font-size: 2.2rem;
    }

  }

  &__order {
    width: 75.4rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.2rem;

    color: var(--black-1a);
    margin-bottom: 2rem;

    @include breakpoint($xl-bp) {
      width: 100%;
      font-size: 1.8rem;
    }


  }

  &__desc {
    width: 90rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--grey);
    margin-bottom: 4rem;

    @include breakpoint($xl-bp) {
      width: 100%;
      font-size: 1.4rem;
      line-height: 1.5rem;
    }

    @include breakpoint($xl-bp) {
      width: 97%;
    }

    a {
      background: linear-gradient(259.43deg, #0057FF 2.5%, #5200FF 46.09%, #DB00FF 173.66%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }


  }

  .btn-black {
    display: inline-block;
    padding: 1.5rem 2rem;
  }
}