<!DOCTYPE html>
<html lang="ru">

<head>
  {{> head }}
</head>

<body>
  <!-- Header -->
  {{> header }}

  <!-- Main content -->
  {{> body }}

  <!-- Footer -->
  {{> footer }}

  <!-- popup -->
  {{> popup }}

  <!-- JS -->
  <!--jQuery-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!--Plugin JavaScript file-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>

  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script src="./assets/js/index.js"></script>


</body>

</html>