<!DOCTYPE html>
<html lang="ru">

<head>
  {{> head }}
</head>

<body>
  <!-- Header -->
  {{> header }}

  <!-- Main content -->
  {{> body }}

  <!-- Footer -->
  {{> footer }}

  <!-- popup -->
  {{> popup }}


  <!--Plugin JavaScript file-->
  <script src="./assets/js/lib/jquery.min.js"></script>

  <script src="./assets/js/lib/yandexMap.min.js"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
  <script src="./assets/js/lib/fancybox.min.js"></script>
  <script src="./assets/js/lib/swiper.min.js"></script>

  <!-- JS -->
  <script src="./assets/js/index.js"></script>


</body>

</html>